.general {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: white;
}
.random_recipe {
  display: flex;
  flex-direction: column;
  box-shadow: 20px;
}
.btn {
  margin: 20px;
}
